.home {

  .panel {
    flex: 1;
  }

  .user-name {
    width: 15rem;
  }

  .list_items {
    padding: 1rem;
  }

  .preview {
    background-color: #17a2b8;
    flex: 2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      text-transform: capitalize;
      margin-top: 0;
    }

    p {
      text-align: center;
    }

    button {
      font-size: 1rem;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 0.5rem 0;

      button {
        width: 100%;
        font-size: 1.5rem;
        transition: all 0.3s;
        text-transform: capitalize;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
