@import "~bootstrap/scss/bootstrap";
@import './palette.scss';
@import './home.scss';
@import './view_item.scss';
@import './map.scss';

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600|Roboto:100,300');

html, body, .app-root {
    height: 100%;
}
#body-wrap {
    background-color: $color5;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 300;
}

button {
  font-family: 'Roboto', sans-serif;
  background-color: $color1;
  font-weight: 300;
  border: none;
  outline:none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: white;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    background-color: $color2;
  }
}

div, p, span {
  font-family: 'Raleway', sans-serif;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 18rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-align: center;
  }
  border-bottom: 2px solid gray;
}

.list_items {
  flex-wrap: wrap;

  button {
    border-color: #17a2b8;
  }
}
.nav-tabs .nav-link {
  color: #fff;
  background-color: #7f919e;
  border-color: #dee2e6 #dee2e6 #fff;
}

$device-edit-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
.device-actions .navbar-toggler-icon {
  background-image: $device-edit-icon-bg;
}


.close {
  background-image: url("/images/ic_close_black_24px.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0.4rem;
  height: 24px;
  width: 24px;
}

.show-menu {
  left: 10px;
}
.minimized {
  .panel > *:not(.header) {
    display: none;
  }

  .panel > .header {
    border: none;
    position: absolute;
    left: 14rem;

    .user-name, .minimaze {
      display: none;
    }
  }

  #map {
    margin-left: 0;
  }
}
